/* Tablo için özel stiller */
#genelVeri1_wrapper {
    margin: 20px 0;
}

#genelVeri1 th,
#genelVeri1 td {
    text-align: center;
}
/* Arama ve sayfalama için özel stiller */
.dataTables_filter,
.dataTables_paginate {
    margin-top: 10px;
}

/* Tablo stilleri */
#genelVeri1_wrapper {
    background-color: #ffffff; /* Açık renk arka plan */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 180%; /* Genişlik %95 olarak ayarlandı */
    max-width: 2000px; /* Maksimum genişlik belirlendi */
    margin: 0 auto; /* Tabloyu yatayda ortala */
  }
  
  #genelVeri1 thead th {
    background-color: #4890d3;
    color: #fff;
    font-weight: bold;
  }
  #genelVeri1 th{
    min-width: 180px;
  }
  #genelVeri1 tbody td {
    background-color: #ffffff; /* Açık renk arka plan */
    color: #333;
  }
  
  /* Düğme stilleri */
  .btn-dark {
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 9px; /* 10 piksel sağ boşluk */
    margin-bottom: 13px;
  }
  
  .btn-dark:hover {
    background-color: #1d2124;
  }

#genelVeri1 td:hover {
    transform: scale(1.1);
    transform-origin: center;
}

/* Arama ve sayfalama için özel stiller */
.dataTables_filter,
.dataTables_paginate {
    margin-top: 10px;
    color: black;
}

.dataTables_length {
    margin-right: 320px;  /* "Show entries" dropdown menüsü ile sağ arasında boşluk */
}
.btnTesisatDuzenle,
.btnTesisatSil {
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 8px; /* Yeni padding değerleri */
  margin-left: 6px; /* 10 piksel sağ boşluk */
  margin-bottom: 7px;
  font-size: 14px; /* Yeni font boyutu */
}

.btnTesisatDuzenle:hover,
.btnTesisatSil:hover {
  background-color: #1d2124;
}
/* Düğme stilleri */
.btn-dark {
  margin-top: 50px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: -185px; /* 10 piksel sağ boşluk */
  margin-right: 190px;
}

.btn-dark:hover {
  background-color: #1d2124;
}

.btn-more {
  position: relative;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: -260px; /* 10 piksel sağ boşluk */
}

.btn-more:hover {
  background-color: #1d2124;
  color: white;
}
